.mce-content-body.mce-visualblocks .encyclopedia-head:before {
  content: "<head>";
}

.mce-content-body.mce-visualblocks .encyclopedia-head:after {
  content: "</head>";
}

.mce-content-body.mce-visualblocks .encyclopedia-word:before {
  content: "<word>";
}

.mce-content-body.mce-visualblocks .encyclopedia-word:after {
  content: "</word>";
}

.mce-content-body.mce-visualblocks .encyclopedia-definition:before {
  content: "<definition>";
}

.mce-content-body.mce-visualblocks .encyclopedia-definition:after {
  content: "</definition>";
}

.mce-content-body.mce-visualblocks .encyclopedia-phonetics:before {
  content: "<phonetics>";
}

.mce-content-body.mce-visualblocks .encyclopedia-phonetics:after {
  content: "</phonetics>";
}

.mce-content-body.mce-visualblocks .encyclopedia-lifespan:before {
  content: "<lifespan>";
}

.mce-content-body.mce-visualblocks .encyclopedia-lifespan:after {
  content: "</lifespan>";
}

.mce-content-body.mce-visualblocks .encyclopedia-etymology:before {
  content: "<etymology>";
}

.mce-content-body.mce-visualblocks .encyclopedia-etymology:after {
  content: "</etymology>";
}

.mce-content-body.mce-visualblocks .encyclopedia-numeral:before {
  content: "<numeral>";
}

.mce-content-body.mce-visualblocks .encyclopedia-numeral:after {
  content: "</numeral>";
}

.mce-content-body.mce-visualblocks .encyclopedia-head:before,
.mce-content-body.mce-visualblocks .encyclopedia-head:after {
  background-color: #e5f7ff;
}

.mce-content-body.mce-visualblocks .encyclopedia-word:before,
.mce-content-body.mce-visualblocks .encyclopedia-word:after {
  background-color: #feefe6;
}

.mce-content-body.mce-visualblocks .encyclopedia-phonetics:before,
.mce-content-body.mce-visualblocks .encyclopedia-phonetics:after {
  background-color: #fff7e5;
}

.mce-content-body.mce-visualblocks .encyclopedia-lifespan:before,
.mce-content-body.mce-visualblocks .encyclopedia-lifespan:after {
  background-color: #fceae8;
}

.mce-content-body.mce-visualblocks .encyclopedia-numeral:before,
.mce-content-body.mce-visualblocks .encyclopedia-numeral:after {
  background-color: #eef7ed;
}

.mce-content-body.mce-visualblocks .encyclopedia-etymology:before,
.mce-content-body.mce-visualblocks .encyclopedia-etymology:after {
  background-color: #f8f2ec;
}

.mce-content-body.mce-visualblocks .encyclopedia-definition:before,
.mce-content-body.mce-visualblocks .encyclopedia-definition:after {
  background-color: #f0eef6;
}

.mce-content-body.mce-visualblocks .encyclopedia-head:before,
.mce-content-body.mce-visualblocks .encyclopedia-head:after,
.mce-content-body.mce-visualblocks .encyclopedia-word:before,
.mce-content-body.mce-visualblocks .encyclopedia-word:after,
.mce-content-body.mce-visualblocks .encyclopedia-phonetics:before,
.mce-content-body.mce-visualblocks .encyclopedia-phonetics:after,
.mce-content-body.mce-visualblocks .encyclopedia-lifespan:before,
.mce-content-body.mce-visualblocks .encyclopedia-lifespan:after,
.mce-content-body.mce-visualblocks .encyclopedia-numeral:before,
.mce-content-body.mce-visualblocks .encyclopedia-numeral:after,
.mce-content-body.mce-visualblocks .encyclopedia-etymology:before,
.mce-content-body.mce-visualblocks .encyclopedia-etymology:after,
.mce-content-body.mce-visualblocks .encyclopedia-definition:before,
.mce-content-body.mce-visualblocks .encyclopedia-definition:after {
  padding: 0.2em;
  font-size: 0.75em;
  font-family: monospace;
  cursor: not-allowed;
}